.app {
  position: relative;
  background-color: #358585;
  height: 100vh;
  width: 100vw;
  display: grid;
  padding: 0;
}

/* Mobile Layout */
@media (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .topBar {
    height: 100px;
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }
}
